body{
    color:black;
    text-align: center;

    font-family: Courier;

    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}


#cabecera{
    color:blue;
    text-align: center;
    background-color: blue;
}